.page-header{

    font-size: 15px;
    color:darkgray;
    padding: 10px;
margin: 15px;
}


h1 {
    font-size: 60px;
    color: aliceblue;
    background-color:rgb(60, 60, 63);
    text-emphasis: center;
    margin: 5px;


    margin-top: 500;
    
    padding: 150px;
    }


.image-wrap{
    text-align: center;
}

/* новый див контейнер со значками */

.main-text{
    margin-top: 50px;
    max-height: 300px;
    
}

    .text{
        display: grid;
        grid-template-rows:repeat(8, 1fr);
        grid-template-columns:repeat(1);
    
    }


.text1{
        grid-column: 2/2;
      height: 200px;
        width: 150px;
        text-align: center;
        }
      
        .text2{
            grid-column: 4/4;
            width: 150px;
            height: 200px;
            text-align: center;
            }
            .text3{
                grid-column:6/6;
                width: 150px;
                height: 200px;
                text-align: center;
                }
                .text4{
                    grid-column: 8/8;
                    width: 150px;
                    height: 200px;
                    text-align: center;
                    }

.img-text{
    text-align: center;
    background-color: rgb(236, 240, 240);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h2{
    font-size: 30PX;
    text-align: center;
    margin-left:60px;
    padding: 25px; ;
}



h3{

    font-size: 30PX;
    margin-left: 700px;
    padding: 75px; ;


}
/* главный контейнер где фотографии наша команда */


.main2{
    max-width: 2000px;
    max-height: 1000px;
    background-color: rgb(216, 216, 221);
    
}

.conteiner{
    display:inline-block;
    text-align: center;
    background-color: rgb(241, 238, 235);
  margin: 10px;
  margin-top:100px;
   



}
.conteiner>img{
   max-width: 270px;
   height: 260px;
   text-align: center;
}

/* такой же контейнер как main выравнивает текст по центру */

.outher{
    text-align: center;

}
/* main контейнер - наша команда выравнивает текст по центру */

.main{

    text-align: center;
    
}

h1{
    text-align: center;

}

/* контейнер логотипы фирм партнеров */
.main-logo{
    max-height: 300px;
    max-width: 2000px;
    background-color: white;
}



.logo{
    display: grid;
    grid-template-rows:repeat(12, 1fr);
    grid-template-columns:repeat(1);

}

.text-logo{
    text-align: center;
    font-size: 30px;
}

.logo1{
    text-align: center;
    grid-column: 1/2;
    margin-left: 20px;
    margin-right: 50px;
    border-style: solid;
    
      background-color: rgb(229, 233, 233);

}
.logo2{
    text-align: center;
    grid-column: 2/4;
    margin-left: 20px;
    margin-right: 50px;
    border-style: solid;
    background-color: rgb(229, 233, 233); 
}
.logo3{
    grid-column: 4/6;
    margin-left: 20px;
    margin-right: 50px;
    border-style: solid;
    background-color: rgb(229, 233, 233);
    text-align: center;
}
.logo4{
    grid-column: 6/8;
    margin-left: 20px;
    margin-right: 50px;
    border-style: solid;
    background-color: rgb(229, 233, 233);  
    text-align: center;
}
.logo5{
    grid-column: 8/10;
    margin-left: 20px;
    margin-right: 50px;
    border-style: solid;
    background-color: rgb(229, 233, 233); 
}
.logo6{
    grid-column: 10/12;
    margin-left: 20px;
    margin-right: 50px;
    border-style: solid;
    background-color: rgb(229, 233, 233);
    text-align: center;
}


/* футер - подвал */
.page-footer{
    font-size: 20px;
    color: aliceblue;
    background-color:rgb(60, 60, 63);
    text-emphasis: center;
    margin: 5px;


    margin-top: 300;
    
    padding: 100px;   
}